body {
    display: flex;
    flex-direction: column;
    margin-left: 50px;
    margin-right: 50px;
}

.header  {
    display: flex;
    justify-content: space-between;
}

ul {
    display: flex;
    list-style: none;
    margin: 0;
    padding-right: 10px;
    gap: 16px;
}

.top-panel {
    display: flex;
    padding: 20px;
}

img {
    width: 100px;
    height: 100px;
}